
body, html {
    height: 100%;
}

.chat-container {
    background-image: url("/static/images/fon.png");
    height: 90vh;
    position: relative;
}
.chat-message-parent {
    margin-top: 20px;
}

.chat-message {
    background-color: #DCF8C6;
    border: 1px solid #ECE5DD;
    border-radius: 20px;
    padding: 10px;
}

.chat-message-time {
    color: gray;
}

.chat-input-container {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.chat-message-container {
    height: 600px;
    overflow-y: scroll;
}

.chat-author {
    font-size: 22px;
    font-style: italic;
    color: white;
    padding-bottom: 10px;
}