<!doctype html>
<html lang="kg">
{% include '_head.html' %}
<body>
    {% include 'body_header.html' %}

    <h1>{{ title }}</h1>
    <ul>
        <li><a href="/about">О нас</a></li>
        <li><a href="/time">Текущее время</a></li>
        <li><a href="/todo">Задачник</a></li>
        <li><a href="/countries">Страны</a></li>
        <li><a href="/chat">Чат</a></li>
    </ul>
    <h1>welcome to my blog</h1>

    <script
        src="/static/bootstrap-5.0.1-dist/js/bootstrap.js"
    >
    </script>
</body>
</html>