<!doctype html>
<html lang="kg">
{% include '_head.html' %}
<body>
    {% include 'body_header.html' %}

    <div class="col-md-6" style="margin-left: 10%;">
        <form method="GET" action="/todo-add">
            <input
                class="form-control"
                type="text"
                name="todo_name"
                placeholder="название задачи"
            >
            <button class="btn btn-success">Добавить</button>
        </form>
        <ul class="list-group">
        {% for todo_one in todos %}
            <li class="list-group-item">
                <form method="GET" action="/todo-delete">
                    <input
                        type="hidden"
                        name="todo_id"
                        value="{{ todo_one.id }}"
                    >
                    {{ todo_one.todo_name }}
                    <button class="btn btn-danger">x</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>

